{% extends "slavaukraine/template_box.html" %}
{% load static %}
{% block box %}
<div class="container position-relative">

    <div class="text-center">
        <br>
        <h2>Edição de Utilizador</h2>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-3">
            <br>
        </div>
        <div class="col-6 align-content-center color-uk">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                    <br>
                <button type="submit" class="btn btn-outline-yellow btn-sm carrousel-button">Guardar</button>
                <br><br>
            </form>
                  <br>
        </div>
        <div class="col-3">
            <br>

                <br><br>

        </div>
    </div>
</div>
{% endblock %}