{% extends "slavaukraine/template.html" %}
{% load static %}
{% block main %}
    {% if user.is_authenticated == true %}
    {% endif %}
    <div>
        <section class="position-relative py-4 py-xl-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="w-lg-50"></p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-xl-4 login-size-form">
                        <div class="card mb-4">
                            <div class="card-body d-flex flex-column align-items-center login-size-card">
                                <h2>Log in</h2>
                                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                         viewBox="0 0 16 16" class="bi bi-person">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                    </svg>
                                </div>
                                <!-- Colocar if no caso de dar erro -->

                                <!-- end if -->
                                <form class="text-center login-size-fileds" action="{% url 'slavaukraine:login' %}"
                                      method="post">
                                    {% csrf_token %}
                                    {% for field in login_form %}
                                        <div class="row login-allign-fields login-size-fileds">
                                            <div class="col-3">
                                                {{ field.label_tag }}
                                            </div>
                                            <div class="col-9">
                                                {{ field }}
                                            </div>
                                            {% if field.help_text %}
                                                <small class="login-color-help">{{ field.help_text }}</small>
                                            {% endif %}

                                        </div>

                                    {% endfor %}

                                    <!-- If the user tries to Login after doint a wrong LOG it enters at this Loop-->
                                    {% for field in login_form %}
                                        <div class="mb-3">
                                            {% for error in field.errors %}
                                                <p class="login-color-error">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}

                                    {% if login_form.non_field_errors %}
                                        <div class="col-lg-12 text-center login-color-error">
                                              <p class="text-muted login-color-error">Erro nas credenciais</p>
                                        </div>
                                    {% endif %}
                                    <div class="mb-3">
                                        <button class="btn btn-primary d-block w-100" type="submit">Login</button>
                                    </div>
                                    <p><a class="login-hiperlinks" href="{% url 'slavaukraine:register_volunteer' %}">Esqueceu-se
                                        da password?</a></p>
                                    <p><a class="login-hiperlinks"
                                          href="{% url 'slavaukraine:register_volunteer' %}">Registar-se</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="w-lg-50"></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}